@import 'node_modules/swiper/swiper.min.css';
@import 'node_modules/swiper/modules/navigation/navigation.min.css';
@import 'node_modules/swiper/modules/pagination/pagination.min.css';
@font-face {
  font-family: 'latoregular';
  src: url('/fonts/lato-regular-webfont.woff2') format('woff2'),
       url('/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html { height: 100%; margin: 0; padding: 0; }
body {
  min-width: 320px;
  background: #fff;
  font-family: 'latoregular';
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #333;
  height: 100%;
  margin: 0; 
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
} 
a { text-decoration: none !important; }
.section-heading {
  display: inline-block;
	background: #2d639e;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 0 auto 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.inner-manufacture {
  display: block;
  -webkit-box-shadow: 0 0 5px 0.5px #C2C2C2;
  box-shadow: 0 0 5px 0.5px #C2C2C2;
}
.inner-manufacture img {
	display: block;
	width: 100%;
	height: auto;
}
.inner-manufacture .product-category {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.page-title {
	display: block;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	color: #2d639e;
	margin: 20px 0;
}
.loader {
  width: 150px;
  height: 400px;
  background: url("/images/loader.gif") no-repeat 100%;
  margin: 0 auto;
}
.carousel-dots .carousel-dot {
  background-color: #2d639e;
  border: 2px solid #2d639e !important;
}
.select-input {
  display: block;
  width: 100%;
  padding: 8px 10px 8px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.border-bottom-grey {
  border-bottom: 1px solid #ccc;
}
.select-input {
  display: inline-block;
}
@media screen and (max-width: 768px){
  .loader { left: 35%; }
}
.logo a {
  display: block;
}
.my-swiper {
  height: 100%;
}
.main-menu {
	padding: 10px;
	overflow: hidden;
	display: block;
}
.main-menu ul {
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}
.main-menu ul li {
	background: url("/images/separator.png") no-repeat 0 50%;
	vertical-align: middle;
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 20px;
	text-transform: capitalize;
}
.main-menu ul li a { text-decoration: none; }
.main-menu ul li:first-child {
	background: none;
	margin: 0;
	padding: 0;
}
.menu-icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.main-menu.desktop { display: none; }
	.main-menu.mobile { display: block; }
	.menu-icon {
		display: block;
		background-image: url('/images/opener.png');
		background-repeat: no-repeat;
		text-indent: 9999px;
		overflow: hidden;
		width: 40px;
		height: 40px;
		margin-left: 30px;
	}
	.main-menu {
		overflow: visible;
	}
  .main-menu ul {
    position: absolute;
    right: 0;
    left: auto;
    top: 70px;
    z-index: 999;
    width: 100%;
    background: #fff;
  }
  .main-menu ul li, .main-menu ul li:first-child {
    border-bottom: 1px solid #ccc;
    background: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
  }
  .main-menu ul li:first-child {
    background: #fff;
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
	.main-menu {
		border-bottom: 1px solid #f8f8f8;
	}
	.main-menu ul li, .main-menu ul li:first-child {
		display: block;
		background: none;
		padding: 0;
		margin: 0 0 10px;
	}
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
}
.my-swiper img {
  width: 100%;
  height: auto;
}

.faqs-list h3 {
  background-color: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 10px 20px;
}

.faqs-list .accepted-answer {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 13px 18px;
}

.footer {
  background: #333;
  border-top: 3px solid #069;
  padding-top: 25px;
}

.social-network {
  text-align: center;
  float: none;
  width: auto;
  margin: 0 0 20px;
}

.social-network li a {
  display: block;
  background: url("/images/fb-icon.png") no-repeat;
  width: 32px;
  height: 32px;
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.social-network li {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0 0 0 15px;
}

.social-network li.instagram a {
  background: url("/images/instagram-icon.png") no-repeat;
  background-size: 100%;
}

.social-network li.twitter a {
  background: url("/images/twitter-icon.png") no-repeat;
  background-size: 100%;
}

.social-network li.linkedin a {
  background: url("/images/linkedin-icon.png") no-repeat;
  background-size: 100%;
}

.star-rating li {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("/images/star.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.inner-rating p {
  margin-bottom: 10px;
}
.reviewer-info {
  padding: 10px 0 0;
  width: 100%;
  overflow: hidden;
}
.inner-rating.inner-manufacture {
  padding: 20px;
  position: relative;
  min-height: 250px;
}
.rating-wrap {
  position: absolute;
  bottom: 0;
}
/* contact */
.contact-wrap {
	box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	border-radius: 10px;
}
.contact-wrap .sidebar {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	padding: 20px 0 0 50px;
}
.contact-wrap .sidebar ul li {
  margin: 0 0 30px;
}
.contact-wrap ul li span {
  float: left;
  width: 60%;
}
.contact-wrap ul li span:first-child {width: 37%;}
.map-outer {
  height: 600px;
}
/* blog */
.single-post img {
	display: block;
	width: 100%;
	height: auto;
}